.range-field-wrap {
	width: 200px; 
	line-height: 20px;
    padding: 4px; 
    border: 1px solid #99f; 
    background: #fff;
}
.range-field-wrap input {
	float: left;
	border: 1px solid #333;
	height: 20px;
	line-height: 20px;
	text-align: right;
	padding: 0;
	width: 150px;
	margin: 0 2px 2px 0;
}
.range-plus-button {
	border: 1px solid #333;
	padding: 0; 
	width: 20px;
	height: 20px;
	background: #ccc;
	text-align: center;
	color: #fff;
	cursor: pointer;
	display: inline;
	float: left;
	margin: 0 0 2px 0;
}
.range-minus-button {
	border: 1px solid #333;
	width: 20px;
	height: 20px;
	background: #ccc;
	text-align: center;
	color: #fff;
	cursor: pointer;
	float: left;
	margin: 0 2px 2px 0;
}
.range-plus-button img, .range-minus-button img {
	display: block;
}
.range-scroll-bar {
	margin-top: 1px;
	border: 1px solid #333;
	height: 20px;
	background: #ccc;
	position: relative;
	clear: both;
}
.range-scroll-line {
    position: absolute;
	border: 1px solid #333;
	height: 0px;
    font-size: 0px;
    line-height: 0px;
	width: 176px;
    z-index: 999;
}
.range-scroller {
	border: 1px solid #333;
	background: #666; 
	height: 14px;
    font-size: 0px;
    line-height: 0px;
	width: 30px; 
	z-index: 1000;
	cursor:pointer;
}

